<div class="header" style="z-index: 500;">
    <title>Log In</title>
</div>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p style="text-align: left;">
                    <strong>id</strong>: {{user._id}}<br>
                    <strong>email</strong>: {{user.local.email}}<br>
                    <strong>password</strong>: {{user.local.password}}<br>
                    <strong>Bookings Left</strong>: {{bookingsLeft}} of {{bookingLimit}}
                </p>

            </div>
        </div>

    <div class="col-sm-12">
    <!--<div class="well">-->
        <h3><span class="fa fa-user"></span> Booked Rooms</h3>

    <p style="text-align: left;">
<div class="container">
    <div class="row" id="bookedRow">

        {{#each booking}}
            {{#each free}}
                {{#if_eq owner ../../user._id}}
                    <div class="col-sm-6">
                    <div class="card" style="margin-bottom: 20px; padding-bottom: 15px;">
                        <img class="card-img-top" src="{{../pic}}" alt="Card image cap" style="width: 100%; height: 25vw; object-fit: cover;">
                        <div class="card-block" style="padding-left: 10px; padding-right: 10px;">
                            <h4 class="card-title" name="bookingTime">{{../room}} - {{time}}</h4>
                                <p class="card-text">{{../description}}</p>
                            {{#if_time startTime }}
                                    <button onclick='unbookRoomClick({{../roomid}}, {{startTime}}, 0, "{{owner}}", this)' class="btn btn-danger" style="padding-bottom: 5px;">Cancel Booking</button>
                            {{else}}
                                    <button disabled onclick='unbookRoomClick({{../roomid}}, {{startTime}}, 0, "{{owner}}", this)' class="btn btn-danger" style="padding-bottom: 5px;">Cancel Booking</button>
                            {{/if_time}}
                        <input type=hidden name="bookingHash" value="{{bookingHash}}"/>
                    </div>
                    </div>
                </div>

                {{/if_eq}}

            {{/each}}
        {{/each}}
    </div>

    <button onclick='unbookRoomClick(-1, 7, 0, "{{owner}}", this)' class="btn btn-danger" style="padding-bottom: 5px;">Unbook All Active</button>
</div>

        </p>

</div>
</div>

<!--</div>-->

</div>
<input type=hidden id="hasJson" name="hasJson" value={{hasJson}}/>
<input type=hidden id="json" name="json" value="{{json}}"/>

<script src="/JS/accountPageFuncs.js"></script>
