<div class="header">
    <title>Log In</title>
    <div class="container">
        <div class="logo">
            <h1><img src="/IMG/logo.png" width="40" height="50"/>&nbspMine! - Room {{room}}</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/map" style="color: #fff; text-decoration: none;">MAP</a></li>
                <li><a href="/map"><img src="/IMG/mapfix.png" width="50" height="25"/></a></li>
            </ul>
        </div>
    </div>
    <style>
        body {
            padding-top: 110px;
        }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

</div>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p style="text-align: left;">
                    <strong>id</strong>: {{user._id}}<br>
                    <strong>email</strong>: {{user.local.email}}<br>
                    <strong>password</strong>: {{user.local.password}}
                </p>

            </div>
        </div>

        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Booked Rooms</h3>

                <p style="text-align: left;">
                    {{#each booking}}
                        {{#each free}}
                                {{#if_eq owner ../../user._id}}
                                    <strong>Booking</strong>: {{time}} - {{../room}}<br>
                                {{/if_eq}}

                        {{/each}}
                    {{/each}}
                </p>

                <a href="/" class="btn btn-default btn-sm">Unbook All</a>


            </div>
        </div>

    </div>

</div>

<script src="/JS/accountFuncs.js"></script>
