extends layout

block content
    //h1= title
    //p Showing Information for Room #{jaderoom}
    div.header
        div.container
            div.logo
                h1
                    a(href='/' style='color: #fff; text-decoration: none;')
                        img.className#IdName(src="/images/logo.png" alt="Image Title" width='40' height='50')
                        | &nbsp#{title}
            div.nav
                ul
                    a(href="/map" style='color: #fff; text-decoration: none;')
                        li
                             |MAP
                        li
                             img(src="/images/mapfix.png" width="50" height="25")

    div(style="margin-top: 100px;")
    br

    div.row
        div.col
            p Looking at room #{jaderoom} for #{jadedate}
            p There are #{count} bookings for this room today
            if jadeRoomFreeNow == true
                p This room is currently free
            else
                p This room is currently booked
        div.col
            img(src="#{jadeRoomPicUrl}" alt='"ILC Room #{jaderoom}"' height='150')

    br
    if count > 0
        //display the following if there is at least one booking today
        p Room booking info:

        table.table.table-striped.table-bordered.table-hover.table-condensed(style="width:85%; margin: auto")
            thead
                tr
                    th Booking Length (Hours)
                    th Start Time
                    th End Time
            tbody
                    for res in jadeJson
                        tr
                            td= res.bookingLength
                            td= res.bookingStart
                            td= res.bookingEnd

    br

    ul
        - for (var i=7; i< jadeRoomBookings.length; i++)
            if jadeRoomBookings[i] == true
                li: button.yroom(onclick='dibsRoomBookClick(#{i})') #{i} - #{i + 1}
            else
                li: button.nroom #{i} - #{i + 1}

    button(name='dibsBookBtn', type='submit', class='.btn-primary', style='margin-left: 100px; ', onclick='dibsRoomBookClick()', enabled) Book This Room

    br
    br

    script.
        function dibsRoomBookClick(time){
            // this function gets the current room id, embeds it into the post request, and then sends a post.
            // On success, it returns whether the booking was successful, or the error that occurred
            $.ajax({
                url: "/bookroom",
                type: "POST",
                data: JSON.stringify([#{jadeRoomID}, time]),
                success: function (data) {
                    console.log("Header: " + data.jadeHeader + " body: " + data.jadeBookingStatus + " data: " + data);
                    var header = data.jadeHeader;
                    var content = data.jadeBookingStatus;
                    doModal(header, content);
                }
            });
        }

        function doModal(heading, formContent) {
            html =  '<div id="dynamicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">';
                html += '<div class="modal-dialog">';
                html += '<div class="modal-content">';
                html += '<div class="modal-header">';
                html += '<a class="close" data-dismiss="modal">×</a>';
                html += '<h4>'+heading+'</h4>'
                html += '</div>';
                html += '<div class="modal-body">';
                html += formContent;
                html += '</div>';
                html += '<div class="modal-footer">';
                html += '<span class="btn btn-primary" data-dismiss="modal">Close</span>';
                html += '</div>';  // content
                html += '</div>';  // dialog
                html += '</div>';  // footer
                html += '</div>';  // modalWindow
            $('body').append(html);
            jQuery.noConflict();
            $("#dynamicModal").modal();
            $("#dynamicModal").modal('show');

            $('#dynamicModal').on('hidden.bs.modal', function (e) {
            $(this).remove();
            });
        }



    //#confirmationModal.modal.fade(tabindex = '-1', role = 'dialog', aria - labelledby = 'confirmationModalLabel', aria - hidden = 'true')
    //
    //.modal-dialog
    //    .modal-content
    //        .modal-header
    //            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    //            h4#confirmationModalLabel.modal-title Modal title
    //        .modal-body
    //        .modal-footer
    //            button.btn.btn-default(type='button', data-dismiss='modal') Close
    //            button.btn.btn-primary(type='button') Save changes

//https://stackoverflow.com/questions/6170925/get-dom-content-of-cross-domain-iframe
