extends layout

block content
    h1= title
    p Welcome to the #{title}

    br
    p Looking at room #{jaderoom} for #{jadedate}
    p There are #{count} bookings for this room today
    if jadeRoomFreeNow == true
        p This room is currently free
    else
        p This room is currently booked
    br
    p Room booking info:

    table.table.table-striped.table-bordered.table-hover.table-condensed
        thead
            tr
                th RoomID
                th Start Time
                th End Time
        tbody
            for res in jadeJson
                tr
                    td= res.RoomID
                    td= res.StartTime
                    td= res.EndTime

    button(name='dibsBookBtn', type='submit', class='.btn-primary', onclick='dibsRoomBookClick()', enabled) Book This Room

    br
    br

    script.
        function dibsRoomBookClick(){

            $.ajax({
                url: "/book",
                type: "POST",
                success: function (result) {
                    console.log("result value is: " + result);
                    document.getElementById('dibsFrame').src = result;
                }
            });
        }

    iframe(id='dibsFrame' name='dibsFrame', width='800', height='800', scrolling='no', frameborder='no', src= srcStr, onload="loaded()") //, onmouseover="alert(document.cookie)"

    script.

    //script.
    //    function loaded() {
    //        //dibsFrame.document.getElementById("frmSearch").txtUsername.value = 'test';
    //        //console.log(dibsFrame.document.getElementById("frmSearch").txtUsername.value);
    //        //dibsFrame.document.getElementById("searchForm").submit();
    //        $.getJSON('http://www.whateverorigin.org/get?url=' + encodeURIComponent('https://queensu.evanced.info/dibs/Login') + '&callback=?', function (data) {
    //            alert(data.contents);
    //        });
    //
    //        }

    script.
        function loaded() {
            //alert('loaded ');
            console.log(document.getElementById("dibsFrame").content.toSource());

            var children = document.getElementById("dibsFrame").children;
            alert(children);

         }

//        function ready() {
//
//            $("a").click(function () {
//                var $urls = $(this).attr("title");
//                $("#dibsFrame").attr("src", $urls);
//                return false;
//            });
//        }




script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

//https://stackoverflow.com/questions/6170925/get-dom-content-of-cross-domain-iframe
