<link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<br/>
<div class="row justify-content-center">
    <div class="col-8">
    <div class="form-group text-center">
        <h3>
            <strong>I want a room on:&nbsp</strong>
            <input type='text' id="datepicker" readonly="readonly" />
        </h3>
    </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="form-group text-center" id="selectionForm">
            <h4>
                <strong>Room Size:&nbsp&nbsp</strong>
                <label class="radio-inline"><input checked='checked' type="radio" name="optradio">Any</label>&nbsp
                <label class="radio-inline"><input type="radio" value="0" name="optradio">Small</label>&nbsp
                <label class="radio-inline"><input type="radio" value="1" name="optradio">Medium</label>&nbsp
                <label class="radio-inline"><input type="radio" value="2" name="optradio">Large</label>
            </h4>
            <button onclick="showHideFilters(this)" class="btn btn-default">Show More Filters</button>
            <div id="filters" style="display: none; padding-top: 15px;">
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasPhone">
                    <span class="checkmark">Has a Phone</span>
                </label>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasTV">
                    <span class="checkmark">Has a TV</span>
                </label><br>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="onlyFree">
                    <span class="checkmark">Hide Unavailable</span>
                </label>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row justify-content-center">
    <div class="col-8" id="roomButtons" align="center">
        {{#each list}}
            {{#if this.isFree}}
                <a class="btn btn-lg yroom" href="/book/{{this.roomID}}" role="button" id="{{this.roomNum}}">{{this.roomNum}}
                    <input type=hidden id="roomSize" name="roomSize" value={{this.size}}/>
                    <input type=hidden id="hasTV" name="hasTV" value={{this.hasTV}}/>
                    <input type=hidden id="hasPhone" name="hasPhone" value={{this.hasPhone}}/>
                </a>
            {{else}}
                <a class="btn btn-lg nroom" href="/book/{{this.roomID}}" role="button" id="{{this.roomNum}}">{{this.roomNum}}
                    <input type=hidden id="roomSize" name="roomSize" value={{this.size}}/>
                    <input type=hidden id="hasTV" name="hasTV" value={{this.hasTV}}/>
                    <input type=hidden id="hasPhone" name="hasPhone" value={{this.hasPhone}}/>
                </a>
            {{/if}}
        {{/each}}
    </div>
</div>

<script src="/JS/indexJS.js"></script>
