<link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<br/>
<div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-4" >
        <div class="form-group text-center">
            <h3>
                <strong>Pick a day:&nbsp</strong>
                <input style="width: 220px;" type='text' id="datepicker" readonly="readonly" />
            </h3>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group text-center">
            <h3>
                <strong>Pick a time:&nbsp</strong>
                <select class="selectpicker" id="timepicker" data-live-search="true" data-size="10">
                    {{#each timeCountObj}}
                        <option data-tokens="{{hour}} {{twenty4Hour}}" value="{{twenty4Hour}}">{{timeString}}</option>
                        <!--data-content="<span class='label label-success'>{TEST!!}</span>"-->
                    {{/each}}
                </select>
            </h3>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="form-group text-center" id="selectionForm">
            <h4>
                <strong>Room Size:&nbsp&nbsp</strong>
                <label class="radio-inline"><input checked='checked' type="radio" name="optradio">Any</label>&nbsp
                <label class="radio-inline"><input type="radio" value="0" name="optradio">Small</label>&nbsp
                <label class="radio-inline"><input type="radio" value="1" name="optradio">Medium</label>&nbsp
                <label class="radio-inline"><input type="radio" value="2" name="optradio">Large</label>
            </h4>
            <button onclick="showHideFilters(this)" class="btn btn-primary">Show More Filters</button>
            <div id="filters" style="display: none; padding-top: 15px;">
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasPhone">
                    <span class="checkmark">Has a Phone</span>
                </label>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasTV">
                    <span class="checkmark">Has a TV</span>
                </label><br>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="onlyFree">
                    <span class="checkmark">Hide Unavailable</span>
                </label>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row justify-content-center">
    <div class="col-8" id="roomButtons" align="center">
        <!-- handlebars loops through each room array -->
        {{#each list}}
            {{#with (lookup this.isFree ../currentTime ) }}

            {{#if this.free}}
                <a class="btn btn-lg yroom" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                    <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                    <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                    <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                </a>
            {{else}}
                {{#if this.isMine}}
                    <a class="btn btn-lg mroom" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                        <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                        <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                        <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                    </a>
                {{else}}
                <a class="btn btn-lg nroom" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                    <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                    <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                    <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                </a>
                {{/if}}
            {{/if}}

            {{/with}}
        {{/each}}
    </div>
</div>

<input hidden id="roomData" value="{{listFree}}" >

<!--<footer class="footer" style="margin-top: 10px;">-->
    <!--{{>footer}}-->
<!--</footer>-->

<script src="/JS/indexJS.js"></script>
