<link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='CSS/timepicker.css'/>
<script type='text/javascript' src='JS/timepicker.js'></script>
<br/>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="form-group text-center">
            <h3>
                <strong>Pick a day:&nbsp</strong>
                <input style="width: 220px;" type='text' id="datepicker" readonly="readonly" />
            </h3>
        </div>
    </div>
</div>
<!--<div class="row justify-content-center">-->
    <!--<div class="col-12 text-center text-sm-right col-sm-4 col-md-3 col-lg-2" style="padding-right: 0;">-->
        <!--<h3>-->
            <!--<strong class="float-none float-md-right">Pick a time:&nbsp</strong>-->
        <!--</h3>-->
    <!--</div>-->
    <!--<div class="col-10 text-center text-sm-left col-sm-5 col-md-4 col-lg-3">-->
        <!--<div class="form-group float-none float-md-left">-->
            <!--<h3>-->
                <!--<div class="input-group date" id="timepicker1" data-target-input="nearest">-->
                    <!--<input type="text" class="form-control datetimepicker-input" data-target="#timepicker1"/>-->
                    <!--<div class="input-group-append" data-target="#timepicker1" data-toggle="datetimepicker">-->
                        <!--<div class="input-group-text"><i class="fa fa-clock-o"></i></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</h3>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<script type='text/javascript'>-->
    <!--$(function () { // using Tempus Dominus Boostrap 4 dateTimePicker-->
        <!--$('#timepicker1').datetimepicker({-->
            <!--format: 'LT',-->
            <!--stepping: 30,-->
            <!--disabledHours: disabledHours,-->
            <!--defaultDate: date-->
        <!--});-->
        <!--// $('#timepicker1').datetimepicker('date', date.toTimeString());-->
    <!--});-->
<!--</script>-->
<br>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="form-group text-center" id="selectionForm">
            <h4>
                <strong>Room Size:&nbsp&nbsp</strong>
                <label class="radio-inline"><input checked='checked' type="radio" name="optradio">Any</label>&nbsp
                <label class="radio-inline"><input type="radio" value="0" name="optradio">Small</label>&nbsp
                <label class="radio-inline"><input type="radio" value="1" name="optradio">Medium</label>&nbsp
                <label class="radio-inline"><input type="radio" value="2" name="optradio">Large</label>
            </h4>
            <button onclick="showHideFilters(this)" class="btn btn-primary">Show More Filters</button>
            <div id="filters" style="display: none; padding-top: 15px;">
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasPhone">
                    <span class="checkmark">Has a Phone</span>
                </label>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasTV">
                    <span class="checkmark">Has a TV</span>
                </label><br>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="onlyFree">
                    <span class="checkmark">Hide Unavailable</span>
                </label>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row justify-content-center">
    <div class="col-8" id="roomButtons" align="center">
        <!-- handlebars loops through each room array -->
        {{#each list}}
            {{#if this.isFree}}
                <a class="btn btn-lg yroom" href="/book/{{this.roomID}}" role="button" id="{{this.roomNum}}">{{this.roomNum}}
                    <input type=hidden id="roomSize" name="roomSize" value={{this.size}}/>
                    <input type=hidden id="hasTV" name="hasTV" value={{this.hasTV}}/>
                    <input type=hidden id="hasPhone" name="hasPhone" value={{this.hasPhone}}/>
                </a>
            {{else}}
                {{#if this.isMine}}
                    <a class="btn btn-lg mroom" href="/book/{{this.roomID}}" role="button" id="{{this.roomNum}}">{{this.roomNum}}
                        <input type=hidden id="roomSize" name="roomSize" value={{this.size}}/>
                        <input type=hidden id="hasTV" name="hasTV" value={{this.hasTV}}/>
                        <input type=hidden id="hasPhone" name="hasPhone" value={{this.hasPhone}}/>
                    </a>
                {{else}}
                <a class="btn btn-lg nroom" href="/book/{{this.roomID}}" role="button" id="{{this.roomNum}}">{{this.roomNum}}
                    <input type=hidden id="roomSize" name="roomSize" value={{this.size}}/>
                    <input type=hidden id="hasTV" name="hasTV" value={{this.hasTV}}/>
                    <input type=hidden id="hasPhone" name="hasPhone" value={{this.hasPhone}}/>
                </a>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>

<!--<footer class="footer" style="margin-top: 10px;">-->
    <!--{{>footer}}-->
<!--</footer>-->

<script src="/JS/indexJS.js"></script>
