<!--<link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />-->
<link href="/CSS/jquery-ui.css" rel="stylesheet" />

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>-->

<link rel="stylesheet" href="/CSS/bootstrap-select.min.css">
<script src="/JS/bootstrap-select.min.js"></script>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-md-offset-1">
            <div id="message-container"></div>
        </div>
    </div>
</div>

<br/>
<div class="row justify-content-center">
    <div class="col-md-auto" >
        <div class="form-group text-center">
            <h3>
                <strong>Pick a day:&nbsp</strong>
                <input style="width: 220px; border: #2d2e2e; border-width: 2px;" type='text' id="datepicker" readonly="readonly" />
            </h3>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="form-group text-center">
            <h3>
                <strong>Pick a time:&nbsp</strong>
                <select class="selectpicker" id="timepicker" data-live-search="true" data-size="10" >
                    {{#each timeCountObj}}
                        <option style="background: #5cb85c; color: #fff;" data-tokens="{{hour}} {{twenty4Hour}}"  value="{{twenty4Hour}}" data-content="<span><span class='badge badge-pill badge-success'>{{totalFree}}</span> {{timeString}}</span>" >{{timeString}}</option>
                        <!--data-content="<span class='label label-success'>{TEST!!}</span>"-->
                    {{/each}}
                </select>
            </h3>
        </div>
    </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="form-group text-center" id="selectionForm">
                <div class="row" style="justify-content:center;">
                    <div class="col-md-auto">
                        <h4 style="margin-top: 0.25em;">
                        <strong>Room Size:&nbsp&nbsp</strong>
                        </h4>

                    </div>
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                        <group class="inline-radio">
                            <div><input checked='checked' type="radio" name="optradio"><label>Any</label></div>
                            <div><input type="radio" value="0" name="optradio"><label>Small</label></div>
                            <div><input type="radio" value="1" name="optradio"><label>Medium</label></div>
                            <div><input type="radio" value="2" name="optradio"><label>Large</label></div>
                        </group>
                    </div>
                </div>
            <br>
            <button onclick="showHideFilters(this)" class="btn btn-primary">Show More Filters</button>
            <div id="filters" style="display: none; padding-top: 15px;">
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasPhone">
                    <span class="checkmark">Has a Phone</span>
                </label>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="hasTV">
                    <span class="checkmark">Has a TV</span>
                </label><br>
                <label class="chk-container">&nbsp;
                    <input type="checkbox" data-value="onlyFree">
                    <span class="checkmark">Hide Unavailable</span>
                </label>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" id="roomButtons" align="center">
        <!-- handlebars loops through each room array -->
        {{#each list}}
            {{#if_valid ../currentTime}}
                {{#with (lookup this.isFree ../currentTime ) }}
                    {{#if this.free}}
                        <a class="btn btn-lg yroom mobileBtn" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                            <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                            <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                            <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                        </a>
                    {{else}}
                        {{#if this.isMine}}
                            <a class="btn btn-lg mroom mobileBtn" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                                <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                                <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                                <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                            </a>
                        {{else}}
                        <a class="btn btn-lg nroom mobileBtn" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                            <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                            <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                            <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                        </a>
                        {{/if}}
                    {{/if}}
                {{/with}}
            {{else}}
                {{#with (lookup this.isFree 7 ) }}
                    <a class="btn btn-lg nroom mobileBtn" href="/book/{{../this.roomID}}" role="button" id="{{../this.roomNum}}">{{../this.roomNum}}
                        <input type=hidden id="roomSize" name="roomSize" value={{../this.size}}/>
                        <input type=hidden id="hasTV" name="hasTV" value={{../this.hasTV}}/>
                        <input type=hidden id="hasPhone" name="hasPhone" value={{../this.hasPhone}}/>
                    </a>
                {{/with}}
            {{/if_valid}}
        {{/each}}
    </div>
</div>

<input hidden id="roomData" value="{{listFree}}" >
<input hidden id="timeCountString" value="{{timeCountObjStr}}" >
<input hidden id="serverTime" value="{{currentTime}}" >
<!--<footer class="footer" style="margin-top: 10px;">-->
    <!--{{>footer}}-->
<!--</footer>-->

<script src="/JS/indexJS.js"></script>
