extends layout
link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

block content

    div.header
        div.container
             a(href='/')
                div.logo
                    h1
                        img.className#IdName(src="/html/logo.png" alt="Image Title" width='40' height='50')
                        | &nbspILC Room Reservation
             div.nav
                ul
                    a(href="/map" style='color: #fff; text-decoration: none;')
                        li
                            | MAP
                        li
                            img(src="/html/mapfix.png" width="50" height="25")


    div(style="margin-top: 100px;")
    h1(style='text-align: center;')= title
    p Welcome to the #{title}

    br

    p ILC Rooms:
    div.rooms
        for roomInfo in jadeRoomStatus
            if roomInfo.isFree == true
                button.yroom(onclick="location.href='/book/#{roomInfo.roomNum}-#{roomInfo.roomid}'") #{roomInfo.roomNum}
            else
                button.nroom(onclick="location.href='/book/#{roomInfo.roomNum}-#{roomInfo.roomid}'") #{roomInfo.roomNum}

    br
