<link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='css/timepicker.css'/>
<script type='text/javascript' src='js/timepicker.js'></script>
<style type="text/css">
    .hidden {
        display: none;
    }

    .half {
        width: 75%;
    }

    div {
        text-align: center;
    }

    .btn {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    var current = 'first';

    function switchTo(toThis) {
        if (toThis === current)
            return;

        switchVisible(current, toThis);
        current = toThis;
    }

    function switchVisible(from, to) {
        $('#' + from).addClass('hidden');
        $('#' + from + '-button').removeClass('active');
        $('#' + to).removeClass('hidden');
        $('#' + to + '-button').addClass('active');
    }

</script>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <div class="form-group text-center">
            <h3>
                <strong>I want a room on:&nbsp</strong><br>
                <input type='text' id="datepicker" readonly="readonly" />
            </h3>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group text-center">
            <h3>
                <strong>At:&nbsp</strong>
                <input id='timepicker' type='text' name='timepicker'/>
            </h3>
        </div>
    </div>
</div>
<script type='text/javascript'>
    var dateObj = new Date();
    var current_hour = dateObj.getHours();
    var current_min = dateObj.getMinutes();
    var day = 0;

    if (current_min < 30)
        current_hour--;

    $('#timepicker').timepicki({show_meridian: false,
        min_hour_value: current_hour,
        max_hour_value:22,
        step_size_minutes:0,
        start_time: [current_hour, "30"],
        overflow_minutes:true,
        increase_direction:'up',
        disable_keyboard_mobile: true});

    $(document).ready(function() {
        $("#timepicker").val("Now");
    });
</script>
<br><br>
<div style="text-align: center;">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id="first-button" type="button" class="btn btn-secondary active" onclick="switchTo('first')">First
            Floor
        </button>
        <button id="second-button" type="button" class="btn btn-secondary" onclick="switchTo('second')">Second Floor
        </button>
        <button id="third-button" type="button" class="btn btn-secondary" onclick="switchTo('third')">Third Floor
        </button>
    </div>
</div>

<div class="row" style="padding-top: 20px">
    <div class="col-md-2">
        <ul class="list-group" style="padding-top: 30px; padding-left: 10px; margin-right: -20px;">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                7:30-8:30
                <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                8:30-9:30
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                9:30-10:30
                <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                10:30-11:30
                <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                11:30-12:30
                <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                12:30-1:30
                <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                1:30-2:30
                <span class="badge badge-primary badge-pill">1</span>
            </li>


        </ul>
    </div>
    <div class="col-md-10">
        <div id="first">
            <object data="IMG/ILC-1.svg" id="floor1" type="image/svg+xml" class="half">
                <img src="IMG/ILC-1.svg"/>
            </object>
        </div>
        <div id="second" class="hidden">
            <object data="IMG/ILC-2.svg" id="floor2" type="image/svg+xml" class="half">
                <img src="IMG/ILC-2.svg"/>
            </object>
        </div>
        <div id="third" class="hidden">
            <object data="IMG/ILC-3.svg" id="floor3" type="image/svg+xml" class="half">
                <img src="IMG/ILC-3.svg"/>
            </object>
        </div>
    </div>
</div>

<script>
    var f1 = document.getElementById("floor1");

    // It's important to add an load event listener to the object,
    // as it will load the svg doc asynchronously
    f1.addEventListener("load", function () {

        // get the inner DOM of alpha.svg
        var svgDoc = f1.contentDocument;
        // get the inner element by id

        var roomStat = "{{roomStatus}}";
        roomStat = roomStat.replace(/&quot;/g, '"');

        var roomStatus = JSON.parse(roomStat);
        <!--var roomStatus = {{roomStatus}};-->
        roomStatus.forEach(function (room) {
            if (!room.isFree) {
                var svgRoom = svgDoc.getElementById(room.roomNum);
                if (svgRoom != null) {
                    if (room.isMine)
                        svgRoom.classList.add('mine');
                    else
                        svgRoom.classList.add('booked');
                }
            }
        });

    }, false);

    var f2 = document.getElementById("floor2");

    // It's important to add an load event listener to the object,
    // as it will load the svg doc asynchronously
    f2.addEventListener("load", function () {

        // get the inner DOM of alpha.svg
        var svgDoc = f2.contentDocument;
        // get the inner element by id

        var roomStat = "{{roomStatus}}";
        roomStat = roomStat.replace(/&quot;/g, '"');

        var roomStatus = JSON.parse(roomStat);
        <!--var roomStatus = {{roomStatus}};-->
        roomStatus.forEach(function (room) {
            if (!room.isFree) {
                var svgRoom = svgDoc.getElementById(room.roomNum);
                if (svgRoom != null) {
                    if (room.isMine)
                        svgRoom.classList.add('mine');
                    else
                        svgRoom.classList.add('booked');
                }
            }
        });

    }, false);

    var f3 = document.getElementById("floor3");

    // It's important to add an load event listener to the object,
    // as it will load the svg doc asynchronously
    f3.addEventListener("load", function () {

        // get the inner DOM of alpha.svg
        var svgDoc = f3.contentDocument;
        // get the inner element by id

        var roomStat = "{{roomStatus}}";
        roomStat = roomStat.replace(/&quot;/g, '"');

        var roomStatus = JSON.parse(roomStat);
        <!--var roomStatus = {{roomStatus}};-->
        roomStatus.forEach(function (room) {
            if (!room.isFree) {
                var svgRoom = svgDoc.getElementById(room.roomNum);
                if (svgRoom != null) {
                    if (room.isMine)
                        svgRoom.classList.add('mine');
                    else
                        svgRoom.classList.add('booked');
                }
            }
        });

    }, false);


</script>
<script src="/JS/indexJS.js"></script>
