<div class="header" style="z-index: 500">
    <link rel="stylesheet" href="../CSS/preferences.css" title="pref" type="text/css"/>
    <script src="../JS/preferences.js" type="text/javascript"></script>
</div>
<div class="mission-control">
    <h1>User Preferences</h1>
    <hr>
    <h4><label for="ocb">One Click Booking</label></h4>
    {{#if ocb}}
        <input title="ocb" type="checkbox" checked="checked">
    {{else}}
        <input title="ocb" type="checkbox">
    {{/if}}
    <button class="q" onclick="launchModal('setting')">?</button>
    <br>
    <h4>Use 12h Time</h4>
    {{#if other}}
        <input title="12hTime" type="checkbox" checked="checked">
    {{else}}
        <input title="12hTime" type="checkbox">
    {{/if}}
    <button class="q" onclick="launchModal('setting')">?</button>

    <br><br>
    <button class="caret btn btn-primary" onclick="$('#theme-detail').fadeToggle(400, 'swing')">v Show Theme Options v</button>
    <br>
    <div class="container hidden" id="theme-detail">
        <br><br>
        <div class="row">
            <div class="col-sm">
                <h3>Free Rooms</h3>
                {{#if useTheme}}
                    <div class="color-swatch available {{theme}}"></div>
                    <div class="hidden" data-colorinput="true">
                        <label for="av-picker">Select a color:</label>
                        <input type="color" class="hidden-picker" title="av-picker" value="{{customColors.av}}">
                    </div>
                {{else}}
                    <div class="color-swatch available hidden {{theme}}"></div>
                    <div data-colorinput="true">
                        <label for="av-picker">Select a color:</label>
                        <input type="color" class="hidden-picker" title="av-picker" value="{{customColors.av}}">
                    </div>
                {{/if}}
            </div>
            <div class="col-sm">
                <h3>Unavailable Rooms</h3>
                {{#if useTheme}}
                    <div class="color-swatch unavailable {{theme}}"></div>
                    <div class="hidden" data-colorinput="true">
                        <label for="ua-picker">Select a color:</label>
                        <input type="color" class="hidden-picker" title="ua-picker" value="{{customColors.ua}}">
                    </div>
                {{else}}
                    <div class="color-swatch unavailable hidden {{theme}}"></div>
                    <div data-colorinput="true">
                        <label for="ua-picker">Select a color:</label>
                        <input type="color" class="hidden-picker" title="ua-picker" value="{{customColors.ua}}">
                    </div>
                {{/if}}
            </div>
            <div class="col-sm">
                <h3>Rooms you've Booked</h3>
                {{#if useTheme}}
                    <div class="color-swatch you-booked-it {{theme}}"></div>
                    <div class="hidden" data-colorinput="true">
                        <label for="ybi-picker">Select a color:</label>
                        <input type="color" class="hidden-picker" title="ybi-picker" value="{{customColors.ybi}}">
                    </div>
                {{else}}
                    <div class="color-swatch you-booked-it hidden {{theme}}"></div>
                    <div data-colorinput="true">
                        <label for="ybi-picker">Select a color:</label>
                        <input type="color" class="hidden-picker" title="ybi-picker" value="{{customColors.ybi}}">
                    </div>
                {{/if}}
            </div>
            <div class="col-sm">
                <h3>Background</h3>
                {{#if useTheme}}
                    <div class="color-swatch bg {{theme}}"></div>
                    <div class="hidden" data-colorinput="true">
                        <div class="color-swatch-ue bg white-bg"></div>
                    </div>
                {{else}}
                    <div class="color-swatch bg hidden {{theme}}"></div>
                    <div data-colorinput="true">
                        <div class="color-swatch-ue bg white-bg"></div>
                    </div>
                {{/if}}
            </div>
        </div>
        <br><br>
        <label for="color">Color Scheme</label>
        <select title="color">
            {{#if df}}
                <option value="default" selected>Daytime (Default)</option>
            {{else}}
                <option value="default">Daytime (Default)</option>
            {{/if}}
            {{#if rg}}
                <option value="rg-cb" selected>Red-Green Colorblind</option>
            {{else}}
                <option value="rg-cb">Red-Green Colorblind</option>
            {{/if}}
            {{#if mnk}}
                <option value="monokai" selected>Monokai</option>
            {{else}}
                <option value="monokai">Monokai</option>
            {{/if}}
            {{#if drk}}
                <option value="darkcula" selected>Darkula</option>
            {{else}}
                <option value="darkcula">Darkula</option>
            {{/if}}
            {{#if mrn}}
                <option value="modern" selected>Modern</option>
            {{else}}
                <option value="modern">Modern</option>
            {{/if}}
            {{#if cst}}
                <option value="custom" selected>Custom</option>
            {{else}}
                <option value="custom">Custom</option>
            {{/if}}
        </select>
    </div>
    <br><br>
    <button class="btn btn-success" onclick="submitChanges()" disabled>Save Changes</button>
</div>
