<div class="header" style="z-index: 500">
    <div class="container">
        <div class="logo">
            <h1><a href="/" style=""><img src="/IMG/logo.png" width="40" height="50" /></a>&nbspMine! - Room {{room}}</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/map" style="color: #fff; text-decoration: none;">MAP</a></li>
                <li><a href="/map"><img src="/IMG/mapfix.png" width="50" height="25"/></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="times">
    <ul>
        {{#each free}}
            {{#if free}}
                <li>
                    <button class="ytime" style="font-size: 20px;" onclick='dibsRoomBookClick(1, {{startTime}}, this)'>{{time}}</button>
                </li>
            {{else}}
                <li>
                    <button class="ntime" style="font-size: 20px;" onclick='dibsRoomBookClick(1, {{startTime}}, this)'>{{time}}</button>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
<div class="desc">
    <img alt="RoomPicture" src={{tempImgURL}}
            height="400"> <br><br>
    <p style="text-align: left;">{{size}} room.<br><br>{{#if tv}}There is{{else}}There is not{{/if}} a TV.<br><br>{{#if
            special}}This is a special room{{/if}}</p>
</div>

<script src="/JS/testJS.js"></script>
