<div class="header">
    <div class="container">
        <div class="logo">
            <h1><img src="/IMG/logo.png" width="40" height="50"/>&nbspMine! - Room {{room}}</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#"style="color: #fff; text-decoration: none;">MAP</a></li>
                <li><a href="#"><img src="/IMG/mapfix.png" width="50" height="25"/></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="times">
    <ul>
        {{#each free}}
            {{#if free}}
                <li><button class="ytime" style="font-size: 20px;" onclick='RoomBookClick()'>{{time}}</button></li>
            {{else}}
                <li><button class="ntime" style="font-size: 20px;">{{time}}</button></li>
            {{/if}}
        {{/each}}
    </ul>
</div>
<div class="desc">
    <img alt="RoomPicture" src={{tempImgURL}}
         height="400" width="400"> <br><br>
    <p style="text-align: left;">{{size}} room.<br><br>{{tv}} a TV.<br><br>{{special}}</p>
</div>

<script>
    function RoomBookClick(time){
        // this function gets the current room id, embeds it into the post request, and then sends a post.
        // On success, it returns whether the booking was successful, or the error that occurred
        console.log("Called my function!");

        $.ajax({
            url: "/bookroom",
            type: "POST",
            data: JSON.stringify([{{room}}, {{time}}]),

            success: function (data) {
                console.log("Header: " + data.jadeHeader + " body: " + data.jadeBookingStatus + " data: " + data);
                var header = data.jadeHeader;
                var content = data.jadeBookingStatus;
                doModal(header, content);
            },
            error: function (data) {
                console.log("Error: " + data)
            }
        });
    }

    function doModal(heading, formContent) {
        html =  '<div id="dynamicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">';
        html += '<div class="modal-dialog">';
        html += '<div class="modal-content">';
        html += '<div class="modal-header">';
        html += '<a class="close" data-dismiss="modal">×</a>';
        html += '<h4>'+heading+'</h4>'
        html += '</div>';
        html += '<div class="modal-body">';
        html += formContent;
        html += '</div>';
        html += '<div class="modal-footer">';
        html += '<span class="btn btn-primary" data-dismiss="modal">Close</span>';
        html += '</div>';  // content
        html += '</div>';  // dialog
        html += '</div>';  // footer
        html += '</div>';  // modalWindow
        $('body').append(html);
        jQuery.noConflict();
        $("#dynamicModal").modal();
        $("#dynamicModal").modal('show');

        $('#dynamicModal').on('hidden.bs.modal', function (e) {
            $(this).remove();
        });
    }

</script>