<div class="header">
    <div class="container">
        <div class="logo">
            <h1><img src="/IMG/logo.png" width="40" height="50"/>&nbspMine! - Room {{room}}</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#" style="color: #fff; text-decoration: none;">MAP</a></li>
                <li><a href="#"><img src="/IMG/mapfix.png" width="50" height="25"/></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="times">
    <ul>
        {{#each free}}
            {{#if free}}
                <li>
                    <button class="ytime" style="font-size: 20px;" onclick='RoomBookClick()'>{{time}}</button>
                </li>
            {{else}}
                <li>
                    <button class="ntime" style="font-size: 20px;">{{time}}</button>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
<div class="desc">
    <img alt="RoomPicture" src={{tempImgURL}}
            height="400" width="400"> <br><br>
    <p style="text-align: left;">{{size}} room.<br><br>{{#if tv}}There is{{else}}There is not{{/if}} a TV.<br><br>{{#if
            special}}This is a special room{{/if}}</p>
</div>

<br/>
This is a test button
<button class="ytime" style="font-size: 20px;" onclick='{{foo return}}'>{{time}}</button>
<div>Test: {{foo}} {{bar}}</div>
<div id="divTemplate">
    <button onclick="{{foo}}">click me!</button>
</div>

<div class="post">
    <h1>By {{getName author}}</h1>
    <div class="body">{{body}}</div>

    <h1>Comments</h1>

    {{#each comments}}
        <h2>By {{getName author}}</h2>
        <div class="body">{{body}}</div>
    {{/each}}
</div>

<div class="mydiv">
<input type="button" id="testBtn" class="js-btn" data-id="test" value="Test">
</div>
<script>
    $('.js-btn').on('click', '.mydiv', function (event) {
        console.log("Called my function!");

        $.ajax({
            url: "/bookroom",
            type: "POST",
            data: "test",

            success: function (data) {
                console.log("Header: " + data.jadeHeader + " body: " + data.jadeBookingStatus + " data: " + data);
                var header = data.jadeHeader;
                var content = data.jadeBookingStatus;
                doModal(header, content);
            },
            error: function (data) {
                console.log("Error: " + data)
            }
        });
    })
</script>